LD_LIBRARY_PATH=/usr/local/cuda/extras/CUPTI/lib64:/usr/lib/x86_64-linux-gnu/hdf5/serial:/usr/lib/x86_64-linux-gnu:/lib/x86_64-linux-gnu
LD_LIBRARY_PATH=/usr/local/cuda/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}

LD_LIBRARY_PATH=$HOME/workspace/nccl/build/lib:$LD_LIBRARY_PATH
LD_LIBRARY_PATH=$HOME/local/lib:$LD_LIBRARY_PATH
LD_LIBRARY_PATH=$HOME/.local_install/lib:$LD_LIBRARY_PATH

CPATH=$HOME/.local_install/include:$HOME/workspace/nccl/build/include

PATH=/usr/local/cuda/bin:$PATH
PATH=$HOME/.local_install/bin:$PATH

NCCL_INSTALL_PATH=$HOME/workspace/nccl/build
NCCL_DIR=$HOME/workspace/nccl/build
NCCL_HOME=$HOME/workspace/nccl/build

BYOBU_PREFIX=$HOME/.local_install

source $HOME/.git-completion.bash

export PATH
export CPATH
export LD_LIBRARY_PATH
export NCCL_HOME
export NCCL_DIR
export NCCL_INSTALL_PATH
export BYOBU_PREFIX
